{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}
    <h1>Mes Informations</h1>

    {{ include('student/_delete_form.html.twig') }}

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
