/* card layout */

.card-body.p-0 .table thead > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table tbody > tr > td:last-of-type,
.card-body.p-0 .table thead > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table tbody > tr > td:first-of-type,    
.table th, .table td
{    
    border:0px;
}

.table th {
    font-size: 17px;
}

.card {
    padding:25px;
    padding-top:20px;

    &-dashboard {
        max-height:500px;
        overflow:scroll;
    }

    &-header.border-transparent {
        padding:0px;
    }

    &-margin {
        margin-top:45px;  
    }
}

.card-margin-plus {
    margin-top:60px;
}

.tr-border {
    border-top:1px solid #dee2e6;
}

.table thead .th-border {
    border-bottom:0px;
}

