
#custom-content-below-tabContent {
    padding-top:30px;
    padding-bottom:30px;
}   

.form-padding {
    padding-right:0px;
}

#row-radio
{
    margin-top:30px;
}

input[type=radio] {
    width:20px;
}