
/* general */

* {
    font-family: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

td a {
    color:$blue;
}

/* admin lte layout */

.main-header {
    background:$red;
}

.bg-warning {
    background:$yellow;
}

.navbar-light .navbar-nav .nav-link {
    color:rgb(250, 231, 232);
}

.content-wrapper > .content {
    padding-bottom:30px;
}

/* content margins */

.content {

    &.content-back {
        padding-top:40px;
    }
}

.account-state {
    margin-top:30px;
    // margin-bottom:40px;
}



