@media all and (max-width: 900px) {

    .table-scroll-card-width {
        width:100vw;
    }
}

@media all and (max-width: 700px) {
    .body-row {
        padding:0px;
        border:0px;
    }

    .language-card {
        padding:20px;
    }

    .col-lg-6.js-profile-wrapper {
        padding:0px;
    }

    .btn-profile {
       display:flex;
       justify-content:center;
       margin-bottom:20px;
    }
}