@media all and (max-width: 900px) {

    .table-scroll-card-width {
        width:100vw;
    }
}

@media all and (max-width: 700px) {
    .body-row {
        padding:0px;
        border:0px;
    }

    .language-card {
        padding:20px;
    }

    .col-lg-6.js-profile-wrapper {
        padding:0px;
    }

    .btn-profile {
       display:flex;
       justify-content:center;
       margin-bottom:20px;
    }

    .btn-edit-form {
        display:block;
        margin:auto;
        margin-top:20px;
        padding:10px;
    }

    .form-delete {
        margin:auto;
        margin-top:50px;
    }

    .info-box .info-box-icon {
        min-width:50px;
    }

    .overflow-box {
        overflow:scroll;
    }

    /* */

    .Password.card {
        border:0px;
        padding:0px;
    }

    .row-top {
        height:100%;
    }

    .col-timeline {
        margin-top:30px;
        height:250px;
    }

    .timeline::before {
        width:100%;
        top:100px;
    }

    .time-icon:first-child {
        top:87px;
    }

    .time-icon:nth-child(2) {
        left:40%;
        top:72px;
    }

    .time-icon:nth-child(3) {
        left:87%;
        top:57px;
    }

    // .message-third, .message-second, .message-first  {
    //     display:none;
    // }

    .message-fourth {
        opacity:1;
        display:block;
        top:120px;
        left:-25px;
    }

    .timeline > .message {
        // position:absolute;
        top:100px;
        margin:auto;
        max-width:400px;
    }
}