.timeline::before {
    width: 80%;
    height:4px;
    top:50px;
    left:0px;
}

.time-icon {
    &:first-child {
        position:relative;
        top:36px;
        left:0px;
        width:20px;

        &:hover {
            cursor:pointer;
        }
    }

    &:nth-child(2) {
        position:relative;
        // top:0px;
        // left:30%;
        top:-10px;
        width:20px;
        left:43%;

        &:hover {
            cursor:pointer;
        }
    }

    &:nth-child(3) {
        position:relative;
        top:-57px;
        left:88%;
        width:20px;

        &:hover {
            cursor:pointer;
        }
    }

    & .fas {
        font-size:18px;
    }

    & span {
        padding:10px;
    }
}

.timeline {
    margin:0px;
    
    &::before {
        width:95%;
    }

    & > div > .timeline-item {
        margin:0px;
        margin:auto;
    }
}

// .time-icon:nth-child(3) {
//     left:90%;
// }

// .time-icon:nth-child(2) {
//     left:43%;
// }

.timeline > .message {
    // position:absolute;
    opacity:0;
    // top:50px;
    top:-40px;
    margin:auto;
    max-width:400px;
}




