.timeline::before {
    width: 80%;
    height:4px;
    top:50px;
    left:0px;
}

.time-icon {

    &:first-child {
        position:relative;
        top:36px;
        left:-20px;
        width:20px;

        &:hover {
            cursor:pointer;
        }
    }

    &:nth-child(2) {
        position:relative;
        top:22px;
        left:36%;
        width:20px;

        &:hover {
            cursor:pointer;
        }
    }

    &:nth-child(3) {
        position:relative;
        top:8px;
        left:75%;
        width:20px;

        &:hover {
            cursor:pointer;
        }
    }

    & .fas {
        font-size:18px;
    }
}

.message {

    opacity:0;

    &-first {
        width:350px;
        position:relative;
        top:30px;
        left:-70px;
    }

    &-second {
        width:270px;
        position:relative;
        top:-23px;
        left:120px;
    }

    &-third {
        width:250px;
        position:relative;
        top:-75px;
        left:310px;
    }

}



