{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

    <div class="btn-group">
        <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-secondary">back to list</a>
        {{ include('offers/_delete_form.html.twig') }}
    </div>

    <h1>Edit Offers</h1>

    {{ include('offers/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
