.form-center {
    width: 500px;
    margin: auto;

    &--login {
        margin-top:20%;
    }

    &--signin {
        margin-top:7%;
    }
}

.checkbox {
    margin-top:20px;
}

.form-check {
    width:20px;
}

.margin-right {
    margin-right:25px;
    margin-left:auto;
}

.margin-left {
    margin-left:25px;
    margin-right: auto;
}

input[type="file"] {
    opacity:0;
    top:-2px;
}    

.offers-show {

    &.table th, &.table td {
        border:0px;
    }
}

.Password {
    margin-top:30px;
}