// profils general layout 

.alert.alert-success {
    background:#76C381;
    border:1px solid #76C381;
}

.alert.alert-danger {
    background:#FF5961AB !important;
    border:1px solid #FF5961AB !important;
}

* {
    font-family: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

h1, h2 {
    color:$lightDarker;
}

h3 {
    color:$titleBlue;
}

h4 {
    color:$titleYellow;
}

h5 {
    color:$titleGrey; 
}

th {
    color:$titleGrey;  
}

td {
    color:$lightDarker;
    font-weight:bold;
}

td a {
    color:$linkBlue;
    
    &:hover{
        color:$darkerBlue;
    }
}

:not(.layout-fixed) .main-sidebar{
    position:fixed !important;
}

.edit-items {
    color:$linkBlue;   
}

.bg-warning {
    background:$yellow;
}

.navbar-light .navbar-nav .nav-link {
    color:rgb(250, 231, 232);
}

.content-wrapper > .content {
    padding-bottom:30px;
}

.content {

    &.content-back {
        padding-top:40px;
    }
}

.account-state {
    margin-top:30px;
}

 /*** accounts ***/       
 #as-2.account-state {
    margin-top:10px;
    position:absolute;
    width:95%;
    bottom:0px;  
}

.border-top {
    color: $contentNone;
    border-top:1px solid #dee2e6;
}

td.border-top-td {
    color:#bdbcbc !important;
    font-style:italic;
}

.navbar-nav {
    justify-content: space-between;
}