.alert.alert-success {
    background:#76C381;
    border:1px solid #76C381;
}

.alert.alert-danger {
    background:#FF5961AB !important;
    border:1px solid #FF5961AB !important;
}

.login-page {
    height:100vh;
}

.login-form {
    display:flex;
    align-items:center;
    justify-content:center;
}

.background {
    height:100%;
    min-height: 100vh;
    width:100vw;
    background: #f5f8fd url(/build/images/intro-bg.8f338c7b.jpg) center top no-repeat;
    background-size:cover;
}

.background-jobs {
    height:100%;
    min-height: 100vh;
    width:100vw;
    background: #F6F8FD;
    background-size:cover;
}

.container-jobs {
    padding-top:100px;
    padding-bottom:150px;
}

#row-radio {
    margin-top:30px;
}

.custom-file-label::after {
    content:"sélectionner"
}

ul.pagination {

    display:flex;
    justify-content:center;

    & li.page-item:nth-child(1) {
        display:none;
    }

    & li.page-item:last-child {
        display:none;
    }
   
}

h1.titles-front {
    margin-top:50px;
}

.nav-jobs {
    display:flex !important;
    margin-bottom:50px;
}

.description {
    text-align:justify;
    margin-top:30px;

    & h5 {
        font-weight:bold;
        text-align:left;
    }
}

.pagination-top {
    margin-bottom:40px;
    margin-top:40px;
}

.pagination-bottom {
    margin-top:80px;
}

.jobs-container {
    margin-top:80px;

    & .row {
        justify-content:center;
    }

    & .card-body-1 {
        margin-bottom:30px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    & p {
        text-align:justify;
    }
}

.offers-index a {
    display:block;
    padding:50px;
}

.blur {
    filter: blur(4px);
}