@media all and (max-width:1440px) {

    .form-center {
        width: 500px;
        margin: auto;
  
        &--login {
            margin-top:10%;
        }
    }
}  

@media all and (max-width:991px) {
    #header .nav-desktop  {
        display:none;
    }

    .margin-right {
        margin-right:0px;
        margin-left:auto;
        padding:0px;
    }
    
    .margin-left {
        margin-left:0px;
        margin-right: auto;
        padding:0px;
        margin-top:30px;
    }

    .form-center--signin {
        margin-top:20%;
    }
}
  
@media all and (max-width:767px) 
{
    .form-center {
        width: 100%;
        margin: auto;

        &--login {
            margin-top:40%;
        }
    } 

    .row {
        margin-right:0px;
        margin-left:0px;
    }  

    .margin-left{
        padding-left:15px;
        padding-right:15px;
    }

    .col-lg-button {
        padding-left:0px;
    }
}

@media all and (max-width:400px) 
{
    input[type="file"] {
        position:relative;
        top:-32px;
    }      
}