
.table {
    width:100%;
    margin:auto;

    &-actions {
        border-top:0px;
        // display:flex;
        div {
            display:flex;
        }
    }
    
    // &-actions div, form {
    //     border-top:0px;
    //     float:right;
    // }
}

table {
    & tr td a, & tr td a:hover  {
        color:#20A9DA;
    } 
}