
/*  back homepage provisoire */

.table {
    width:70%;
    margin:auto;
}

.actions {
    display:flex;
    justify-content: space-between;

    form {
        width:20px;
    }

    button {
        margin-top:0px;
    }
}