
.table {
    width:100%;
    margin:auto;

    &-actions {
        border-top:0px;
        display:flex;
    }
    
    td.table-actions {
        border-top:0px;
    }
}

table {
    & tr td a, & tr td a:hover  {
        color:#20A9DA;
    } 
}