
.hidden {
    display:none;
}

.warningform {
    // display:flex;
    max-width:55%;
    margin:auto;
    border-radius:50px;
    // border:2px solid red;

    &__form {
        width:60%;
    }

    &__check {
        width:40%;
        padding: 0px 50px;
    }

    h5 { 
        margin-bottom:30px;
    }

    &__check__checkbox {

        .form-control {
            margin-bottom:0px;
        }

        &--container {
            width:50%;
            // border:2px solid red;
        }
    }

}