{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - home {% endblock %}

{% block body %}

    <div class="div" id="div-1">Hello World !</div>
    <div class="div" id="div-2">Hello World !</div>

    <form method="post" action="/form">
        <input style="text" name="name" id="name"/>
        <button type = "submit">Envoyer</button>
    </form>

{% endblock %}
