<form method="post" class="{{ app.request.get('_route') == 'school_index' ? 'form-icon' : '' }}" action="{{ path('school_delete', {'id': school.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.id) }}">
    <button class="btn-icon btn-danger">
        {{ app.request.get('_route') == 'school_index' ? '<i class="far fa-trash-alt" title="supprimer"></i>' : 'Modifier' }}
    </button>
</form>
