
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - Etudiants {% endblock %}

{% block body %}

<br><br>

    {# {% if is_granted('ROLE_HIRED') %} #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        List Schools
    {% else %}
    <br><br>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="info-box mb-3 overflow-box">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

            <div class="info-box-nopage info-box-content">
                <span class="info-box-text">Vous devez avoir un emploi pour accéder aux écoles</span>            
            </div>
            
        </div>
    </div> 
    {% endif %}

{% endblock %}