
<style>
    #container-stop {
        display: flex;
        justify-content: center;
    }
</style>

<div class="card" style="max-width: 70%;margin:auto;">
    {# <img src="{{ asset('build/doc-2.jpg') }}" style="width:100%;"> #}
    <div class="card-body">
        <!-- <p style="color:grey;text-align:justify;">Sweeetch vous permet de trouver rapidement un emploi et une formation en alternance. Cela s'effectue en 5 étapes : </p><br> -->
        <div style="display:flex;justify-content:space-between;">
            <button class="btn btn-success btn-small" id="return-page" data-url="1"><i class="fas fa-chevron-left"></i> Retour</button>
            <button class="btn btn-success btn-small" id="following-page" data-url="3"> Suivant <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
  </div><br>