
<div class="card-body" style="padding-left:0px;padding-right:0px;margin:auto;">
    <h3 style="color:black!important;text-align:center;">Etape 1 : Compléter ses Informations</h3><br>
    <p style="color:grey;text-align:justify;">Pour donner aux employeurs et aux écoles la meilleure image de vous, rendez-vous dans les onglets <em><strong>Infos du Compte</strong></em> et <em><strong>Profil Etudiant</strong></em> pour compléter vos informations personnelles.</p><br>
    <img src="{{ asset('build/doc-1.jpg') }}" style="width:80%;display:block;margin:auto;box-shadow:0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);"><br><br>
    <div class="btn-group" style="display:flex;justify-content:space-between;max-width:300px;margin:auto;">
        <button class="btn btn-primary btn-small" id="return-page" data-url="1" style="border:0.5px solid #0066D4"><i class="fas fa-chevron-left"></i> Retour</button>
        <button class="btn btn-primary btn-small" id="following-page" data-url="3" style="border:0.5px solid #0066D4"> Suivant <i class="fas fa-chevron-right"></i></button>
    </div>
</div><br>